.content-area {
  display: flex;
  flex-direction: column;
  gap: var(--size-24);
}

.exchange-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--sky-blue);
  border-radius: var(--border-md);
  padding: var(--size-24);
  width: 100%;
}

.exchange-rate .form-section {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  max-width: 60%;
  /* gap: var(--size-24); */
}

.exchange-rate .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5%;
}

.exchange-rate .form-group label {
  min-width: 130px;
  max-width: 130px;
  text-align: end;
}

.exchange-rate .form-group input {
  width: 100%;
  font-size: var(--text-lg);
  color: var(--slate-blue);
  font-weight: var(--semi-bold);
  padding-right: 118px;
  letter-spacing: 0.3px;
}

.form-group .input-group {
  width: 100%;
}

.form-group .input-item {
  position: relative;
  width: 100%;
}

.exchange-rate .form-group .input-item button {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  gap: var(--size-6);
  padding: 0;
  padding-right: var(--size-16);
  color: var(--slate-blue);
  cursor: pointer;
}

.exchange-rate .form-group .input-item button img {
  min-width: var(--size-24);
  max-width: var(--size-24);
  min-height: var(--size-24);
  max-height: var(--size-24);
}

.exchange-rate .form-group .input-item button span {
  font-size: var(--text-lg);
  font-weight: var(--semi-bold);
  letter-spacing: 0.1px;
}

.error-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--size-24);
}

.error-group.dashboard {
  gap: 2.5%;
}

.error-group:last-child {
  margin-bottom: 0;
}

.error-group label {
  display: none;
}

.exchange-rate .error-group.dashboard label {
  display: flex;
  min-width: 130px;
  max-width: 130px;
  text-align: end;
}

.exchange-rate .error-group input {
  width: 100%;
  font-size: var(--text-lg);
  color: var(--slate-blue);
  font-weight: var(--semi-bold);
  padding-right: 118px;
  letter-spacing: 0.3px;
}

.form-group .input-group {
  width: 100%;
}

.exchange-rate .rate-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 15%;
  max-width: 15%;
  color: var(--slate-blue);
  font-size: var(--text-lg);
  font-style: italic;
  gap: var(--size-12);
}

.exchange-rate .rate-group div {
  font-weight: var(--semi-bold);
}

.exchange-rate .rate-group svg {
  transform: rotate(90deg);
  min-width: var(--size-12);
  max-width: var(--size-12);
  fill: var(--slate-blue);
}

.exchange-rate .rate-group .equal {
  display: none;
}

.exchange-rate .button-group {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 20%;
}

.transaction {
  display: flex;
  justify-content: space-between;
}

.history {
  min-width: 65%;
  max-width: 65%;
}

.history .title,
.beneficiary .title,
.currency .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-12) 0;
  border-bottom: 1px solid var(--light-grey);
}

.history .title a,
.currency .title a {
  font-size: var(--text-sm);
  font-weight: var(--semi-bold);
}

.beneficiary .title a svg {
  color: var(--slate-blue);
}

.history .item-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--size-4) 0;
}

.history .item {
  display: flex;
  align-items: center;
  width: calc(100% + 16px);
  padding: var(--size-8);
  cursor: pointer;
  border-radius: var(--border-md);
}

.history .item:hover {
  background: var(--sky-blue);
  margin-inline: -16px;
}

.history .item .icon-round {
  margin-right: var(--size-12);
}

.history .item:hover .icon-round {
  background: var(--slate-blue);
}

.history .item:hover .icon-round svg {
  color: var(--sky-blue);
}

.history .item .detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.history .item .detail .first-column .first-row {
  color: var(--slate-blue);
  font-weight: var(--semi-bold);
}

.history .item .detail .first-column .second-row {
  display: flex;
  align-items: center;
  gap: var(--size-8);
  font-size: var(--text-sm);
}

.history .item .detail .first-column .second-row span:nth-child(1) {
  font-weight: var(--semi-bold);
}

.history .item .detail .first-column .second-row span:nth-child(2) {
  width: 4px;
  height: 4px;
  background: var(--black);
  border-radius: var(--border-circle);
}

.history .item .detail .first-column .second-row span:nth-child(1).pending {
  color: var(--midnight-violet);
}

.history .item .detail .first-column .second-row span:nth-child(2).pending {
  background: var(--midnight-violet);
}

.history .item .detail .first-column .second-row span:nth-child(1).completed {
  color: var(--pastel-green);
}

.history .item .detail .first-column .second-row span:nth-child(2).completed {
  background: var(--pastel-green);
}

.history .item .detail .first-column .second-row span:nth-child(1).failed,
.history .item .detail .first-column .second-row span:nth-child(1).unpaid {
  color: var(--darker-crimson-red);
}

.history .item .detail .first-column span:nth-child(2).failed,
.history .item .detail .first-column span:nth-child(2).unpaid {
  background: var(--dark-crimson-red);
}

.history .item .detail .second-column {
  text-align: end;
}

.history .item .detail .second-column .first-row {
  color: var(--slate-blue);
  font-weight: var(--semi-bold);
}

.history .item .detail .second-column .second-row {
  font-size: var(--text-sm);
}

.beneficiary {
  min-width: 25%;
  max-width: 25%;
}

.beneficiary .item-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin: var(--size-4) 0;
}

.beneficiary .item-section .item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--size-12) 0;
  max-width: 72px;
  border-radius: var(--border-md);
  cursor: pointer;
}

.beneficiary .item-section .item:hover {
  background: var(--sky-blue);
}

.beneficiary .item .icon-round {
  font-size: var(--text-lg);
  font-weight: var(--semi-bold);
  color: var(--slate-blue);
  margin-bottom: var(--size-4);
}

.beneficiary .item-section .item:hover .icon-round {
  background: var(--slate-blue);
  color: var(--sky-blue);
}

.beneficiary .item span {
  font-size: var(--text-sm);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 72px;
  max-width: 72px;
}

.beneficiary .item-section .item:hover span {
  color: var(--slate-blue);
  font-weight: var(--semi-bold);
}

.currency {
  min-width: 30%;
  max-width: 30%;
}

.currency .item-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--size-4) 0;
}

.currency .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 16px);
  padding: var(--size-8);
  border-radius: var(--border-md);
  cursor: pointer;
}

.currency .item:hover {
  background: var(--sky-blue);
  margin-inline: -16px;
}

.currency .item .country {
  display: flex;
  align-items: center;
  gap: var(--size-12);
}

.currency .item .country .name {
  color: var(--slate-blue);
  font-weight: var(--semi-bold);
}

.currency .item .rate {
  font-size: var(--text-sm);
}

@media (max-width: 1279px) {
  .exchange-rate .form-group {
    gap: 4%;
  }

  .error-group.dashboard {
    gap: 4%;
  }

  .transaction {
    flex-direction: column-reverse;
    gap: var(--size-24);
  }

  .history,
  .beneficiary,
  .currency {
    min-width: 100%;
    max-width: 100%;
  }

  .beneficiary .item-section {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--size-12);
    overflow-x: auto;
  }

  .beneficiary .item-section .item {
    flex: 0 0 72px;
  }
}

@media (min-width: 767px) {
  .backdrop.open {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .exchange-rate {
    flex-direction: column;
    gap: var(--size-12);
  }

  .exchange-rate .form-section,
  .exchange-rate .form-group,
  .exchange-rate .button-section,
  .exchange-rate .button-group {
    min-width: 100%;
    max-width: 100%;
  }

  .exchange-rate .form-group {
    flex-direction: column;
    align-items: start;
  }

  .exchange-rate .form-group label {
    text-align: start;
    min-width: 100%;
    max-width: 100%;
  }

  .exchange-rate .form-group .input-item {
    min-width: 100%;
    max-width: 100%;
  }

  .error-group label {
    display: none !important;
  }

  .exchange-rate .rate-group {
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
    font-size: var(--text-md);
    gap: var(--size-4);
  }

  .exchange-rate .rate-group .equal {
    display: block;
  }

  .exchange-rate .rate-group svg {
    display: none;
  }
}
