@import "./base.css";

.standard-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  max-width: 100%;
  min-height: var(--size-48);
  max-height: var(--size-48);
  padding: var(--size-dropdown-item);
  border-radius: var(--border-md);
}

.btn-close {
  min-width: var(--size-40);
  max-width: var(--size-40);
  min-height: var(--size-40);
  max-height: var(--size-40);
  border-radius: var(--border-circle);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close svg {
  min-width: var(--size-24);
  max-width: var(--size-24);
  min-height: var(--size-24);
  max-height: var(--size-24);
  fill: var(--slate-blue);
}

.btn-red {
  background: var(--crimson-red);
  color: #ffffff;
  font-weight: var(--semi-bold);
  border-radius: var(--border-md);
}

.btn-red:hover {
  background: var(--dark-crimson-red);
}

.btn-red:focus {
  background: var(--darker-crimson-red);
}

.btn-red:focus:not(:focus-visible) {
  background: var(--crimson-red);
}

.btn-red:focus:hover {
  background: var(--dark-crimson-red);
}

.btn-red:focus:active {
  background: var(--darker-crimson-red);
}

.btn-blue {
  background: var(--light-blue);
  color: #ffffff;
  font-weight: var(--semi-bold);
  border-radius: var(--border-md);
}

.btn-blue:hover {
  background: var(--dark-blue);
}

.btn-blue:focus {
  background: var(--darker-blue);
}

.btn-blue:focus:not(:focus-visible) {
  background: var(--light-blue);
}

.btn-blue:focus:hover {
  background: var(--dark-blue);
}

.btn-blue:focus:active {
  background: var(--darker-blue);
}

.btn-back-round {
  min-width: var(--size-32);
  max-width: var(--size-32);
  min-height: var(--size-32);
  max-height: var(--size-32);
  background: var(--sky-blue);
  border-radius: var(--border-circle);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-back-round svg {
  min-width: var(--size-16);
  max-width: var(--size-16);
  min-height: var(--size-16);
  max-height: var(--size-16);
  fill: var(--slate-blue);
  color: var(--slate-blue);
}

.btn-back-round:hover {
  background: var(--sky-blue);
}

.btn-back-round:focus {
  background: var(--cool-blue);
}

.btn-back-round:focus:not(:focus-visible) {
  background: var(--sky-blue);
}

.btn-back-round:focus:hover {
  background: var(--sky-blue);
}

.btn-back-round:focus:active {
  background: var(--cool-blue);
}

.icon-round {
  min-width: var(--size-48);
  max-width: var(--size-48);
  min-height: var(--size-48);
  max-height: var(--size-48);
  border-radius: var(--border-circle);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--sky-blue);
}

.icon-round svg {
  min-width: var(--size-24);
  max-width: var(--size-24);
  min-height: var(--size-24);
  max-height: var(--size-24);
  fill: var(--cool-blue);
  color: var(--cool-blue);
}

.icon-round:hover {
  background: var(--slate-blue);
  color: var(--sky-blue) !important;
  cursor: pointer;
}

.btn-load {
  min-width: 100%;
  max-width: 100%;
  background: var(--light-grey);
  color: var(--black);
  text-align: center;
  padding: var(--size-8);
  font-weight: var(--semi-bold);
  border-radius: var(--border-md);
}

.btn-load:hover {
  background: var(--dark-grey);
}

.btn-load:focus {
  background: var(--darker-grey);
}

.btn-load:focus:not(:focus-visible) {
  background: var(--light-grey);
}

.btn-load:focus:hover {
  background: var(--dark-grey);
}

.btn-load:focus:active {
  background: var(--darker-grey);
}

.btn-delete {
  background: var(--bg-screen);
  border: 1px solid var(--crimson-red);
  color: var(--crimson-red);
  font-weight: var(--semi-bold);
}

.btn-delete:hover {
  border: 1px solid var(--crimson-red);
  color: var(--crimson-red);
}

.btn-delete:focus {
  border: 1px solid #f45b7a;
  color: #f45b7a;
}

.btn-delete:focus:not(:focus-visible) {
  border: 1px solid var(--crimson-red);
  color: var(--crimson-red);
}

.btn-delete:focus:active {
  border: 1px solid #f45b7a;
  color: #f45b7a;
}

.btn-back {
  background: var(--bg-screen);
  color: var(--black);
  border: 1px solid var(--black);
  font-weight: var(--semi-bold);
}

.btn-back:hover {
  background: var(--sky-blue);
}

.btn-back:focus {
  background: var(--cool-blue);
}

.btn-back:focus:not(:focus-visible) {
  background: var(--sky-blue);
}

.btn-back:focus:hover {
  background: var(--sky-blue);
}

.btn-back:focus:active {
  background: var(--cool-blue);
}
