@import "./base.css";

.standard-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  max-width: 100%;
  min-height: var(--size-48);
  max-height: var(--size-48);
  padding: var(--size-dropdown-item);
  border-radius: var(--border-md);
}

.btn-close {
  min-width: var(--size-40);
  max-width: var(--size-40);
  min-height: var(--size-40);
  max-height: var(--size-40);
  border-radius: var(--border-circle);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close svg {
  min-width: var(--size-24);
  max-width: var(--size-24);
  min-height: var(--size-24);
  max-height: var(--size-24);
  fill: var(--slate-blue);
}

.btn-red {
  background: var(--crimson-red);
  color: #ffffff;
  font-weight: var(--semi-bold);
  border-radius: var(--border-md);
}

.btn-red:hover {
  background: var(--dark-crimson-red);
}

.btn-red:focus {
  background: var(--darker-crimson-red);
}

.btn-red:focus:not(:focus-visible) {
  background: var(--crimson-red);
}

.btn-red:focus:hover {
  background: var(--dark-crimson-red);
}

.btn-red:focus:active {
  background: var(--darker-crimson-red);
}

.btn-blue {
  background: var(--light-blue);
  color: #ffffff;
  font-weight: var(--semi-bold);
  border-radius: var(--border-md);
}

.btn-blue:hover {
  background: var(--dark-blue);
}

.btn-blue:focus {
  background: var(--darker-blue);
}

.btn-blue:focus:not(:focus-visible) {
  background: var(--light-blue);
}

.btn-blue:focus:hover {
  background: var(--dark-blue);
}

.btn-blue:focus:active {
  background: var(--darker-blue);
}

.btn-round {
  min-width: var(--size-32);
  max-width: var(--size-32);
  min-height: var(--size-32);
  max-height: var(--size-32);
  background: var(--light-grey);
  border-radius: var(--border-circle);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-round svg {
  min-width: var(--size-16);
  max-width: var(--size-16);
  min-height: var(--size-16);
  max-height: var(--size-16);
  fill: var(--black);
  color: var(--black);
}

.btn-round:hover {
  background: var(--dark-grey);
}

.btn-round:focus {
  background: var(--darker-grey);
}

.btn-round:focus:not(:focus-visible) {
  background: var(--light-grey);
}

.btn-round:focus:hover {
  background: var(--dark-grey);
}

.btn-round:focus:active {
  background: var(--darker-grey);
}

.icon-round {
  min-width: var(--size-48);
  max-width: var(--size-48);
  min-height: var(--size-48);
  max-height: var(--size-48);
  border-radius: var(--border-circle);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--sky-blue);
}

.icon-round svg {
  min-width: var(--size-24);
  max-width: var(--size-24);
  min-height: var(--size-24);
  max-height: var(--size-24);
  fill: var(--cool-blue);
  color: var(--cool-blue);
}

.icon-round:hover {
  background: var(--slate-blue);
  color: var(--sky-blue) !important;
  cursor: pointer;
}

.btn-load {
  min-width: 100%;
  max-width: 100%;
  background: var(--light-grey);
  color: var(--black);
  text-align: center;
  padding: var(--size-8);
  font-weight: var(--semi-bold);
  border-radius: var(--border-md);
}

.btn-load:hover {
  background: var(--dark-grey);
}

.btn-load:focus {
  background: var(--darker-grey);
}

.btn-load:focus:not(:focus-visible) {
  background: var(--light-grey);
}

.btn-load:focus:hover {
  background: var(--dark-grey);
}

.btn-load:focus:active {
  background: var(--darker-grey);
}

.btn-delete {
  background: var(--white);
  color: var(--crimson-red);
  border: 1px solid var(--crimson-red);
  font-weight: var(--semi-bold);
}

.btn-delete:hover {
  border: 1px solid var(--light-crimson-red);
  color: var(--light-crimson-red);
}

.btn-delete:focus {
  border: 1px solid var(--lighter-crimson-red);
  color: var(--lighter-crimson-red);
}

.btn-delete:focus:not(:focus-visible) {
  border: 1px solid var(--crimson-red);
  color: var(--crimson-red);
}

.btn-delete:focus:hover {
  border: 1px solid var(--light-crimson-red);
  color: var(--light-crimson-red);
}

.btn-delete:focus:active {
  border: 1px solid var(--lighter-crimson-red);
  color: var(--lighter-crimson-red);
}

.btn-back {
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  font-weight: var(--semi-bold);
}

.btn-back:hover {
  border: 1px solid var(--darkest-grey);
  color: var(--darkest-grey);
}

.btn-back:focus {
  border: 1px solid var(--darker-grey);
}

.btn-back:focus:not(:focus-visible) {
  border: 1px solid var(--black);
  color: var(--black);
}

.btn-back:focus:hover {
  border: 1px solid var(--darkest-grey);
  color: var(--darkest-grey);
}

.btn-back:focus:active {
  border: 1px solid var(--darker-grey);
  color: var(--darker-grey);
}

.btn-moneyreceived {
  background-image: linear-gradient(to right, #67cc89, #00c8b0);
  color: #ffffff;
  font-weight: var(--semi-bold);
  border-radius: var(--border-md);
}

.btn-moneyreceived:hover {
  background-image: linear-gradient(to right, #7edf9d, #33dac0);
}

.btn-moneyreceived:focus {
  background-image: linear-gradient(to right, #9aefb5, #66e5d0);
}

.btn-moneyreceived:focus:not(:focus-visible) {
  background-image: linear-gradient(to right, #67cc89, #00c8b0);
}

.btn-moneyreceived:focus:hover {
  background-image: linear-gradient(to right, #7edf9d, #33dac0);
}

.btn-moneyreceived:focus:active {
  background-image: linear-gradient(to right, #9aefb5, #66e5d0);
}
